
.body {
    font-family: Arial;
    background-image: url(background-main-page.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container p{
    margin: 0;
    position: absolute;
    margin-bottom:250px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    position: relative;
    text-align: center;
    background-color: rgba(37, 199, 172, 0.664);
    border-radius: 20%;
    padding: 20px;
}
.container{
    margin: 0;
    position: absolute;
    top: 300px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container a:hover{
    background-color: rgba(219, 215, 215, 0.753);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.6s;
}

.container li{
    text-decoration: none;
    list-style-type: none;
    
}
.container a{
    text-decoration: none;
    color: white;
    border: 2px solid black;
    margin-left: 20px;
    font-size: 30px;
    background-color: rgba(37, 199, 172, 0.664);
    padding:20px;
}