   /* Heading */
    h1 {
        color: rgb(0, 4, 255);
        font-size: 45px;
    }
 
    /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 2px solid black;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
    input:hover{
        cursor: pointer;
        background-color: lightblue;
    }
 
    /* Reset Button */
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid black;
        margin: auto;
        border-radius: 4px;
        font-family: Arial;
        background-color: lightblue ;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
 
    /* Player turn space */
    #print {
        font-family: Verdana,
            Geneva, Tahoma, sans-serif;
 
        color: black;
        font-size: 40px;
    }
 
    /* Main Container */
    #main {
        text-align: center;
    }
 
    /* Game Instruction Text */
    #ins {
        font-family: Times;
        color: black;
        font-size: 30px;
    }
.background{
    background-image: url(backgroundd.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body a{
    font-size: 40px;
    margin-left: 860px;
    text-decoration: none;
    color: white;
    border: solid black 4px;
    border-radius: 20%;
    letter-spacing: 3px;
    padding: 10px;
    background-color:rgba(37, 199, 172, 0.664); ;
}
body a:hover{
    background-color: rgba(219, 215, 215, 0.753);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.6s;
}