body {
    background-color: black;
    font-family: Arial;
    font-size: 50%;
    margin:0;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}
.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;

}
h1{
    color: white;
    background-color: rgba(9, 175, 204, 0.883);
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}
#color-display{
    display: block;
    font-size: 2em;
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}
#message {
    text-transform: uppercase;
    color:rgba(9, 175, 204, 0.883);
    font-size: 3em;
    display: inline-block;
    width: 20%;
}
button {
    outline: none;
    color: rgba(9, 175, 204, 0.883);
    font-family:Cambria;
    font-size:2.5em;
    text-transform: uppercase;
    background-color: white;
    height: 100%;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
button:hover{
    background-color:rgba(9, 175, 204, 0.883);
    color: white;
    cursor: pointer;
}
.selected {
    background-color: rgba(9, 175, 204, 0.883);
    color: white;
}
.square{
    border-radius: 20%;
}
* {
    border: 0px solid red;
}